<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Kuroedov Store</title>
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="/bootstrap-5.0.2-dist/css/bootstrap.css">
</head>

<body>
    <nav>
        <div class="menu">
            <div class="menushechka">
                <li class="menu-item">
                    <a href="#">Алкоголь</a>
                    <ul сlass="sub-menu">
                        <li class="list-group-item"><a href="Katalog/Katalog.ejs" target="_blank">Виски</a></li>
                        <li class="list-group-item"><a href="#">Ром</a></li>
                        <li class="list-group-item"><a href="#">Вино</a></li>
                        <li class="list-group-item"><a href="#">Пиво</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="#">Курение</a>
                    <ul сlass="sub-menu">
                        <li><a href="#">Сигареты</a></li>
                        <li><a href="#">Сигары</a></li>
                        <li><a href="#">Кальян</a></li>
                        <li><a href="#">Nicarão</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="#">Машины</a>
                    <ul сlass="sub-menu">
                        <li><a href="#">Porshe</a></li>
                        <li><a href="#">Mercedes</a></li>
                        <li><a href="#">BMW</a></li>
                        <li><a href="#">Wolkswagen zuk</a></li>
                    </ul>
                </li>
            </div>
            <div class="Korzina">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3"
                    viewBox="0 0 16 16">
                    <path
                        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </svg>

                <div class="log_in">
                    <button id="Log_In_button"><a href="/LogIn">Log_In</a></button>
                </div>

                <div class="reg">
                    <button id="Reg_button"><a href="/Reg">Registration</a></button>
                </div>

                <div class="log_out">
                    <button id="log_out_button">Log Out</button>
                </div>
            </div>
        </div>
    </nav>

    <div class="main">
        <h1 class="main_title">МАЧО ДАЧО ХАТА ХАУС - МАРКЕТПЛЕЙС ДЛЯ НАСТОЯЩИХ МУЖЧИН</h1>
    </div>

    <!-- <img src="https://www.pinkvilla.com/pics/480x270/408794275_andrew-tate_202401.jpg" alt=""> -->

</body>

<script src="Home.js"></script>

</html>

<!-- nav, span -->