<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Kuroedov Store</title>
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="/bootstrap-5.0.2-dist/css/bootstrap.css">
</head>

<body>
    <nav>
        <div class="menu">
            <div class="menushechka">
                <h1>KUR<span class="change-letter-color">O</span>EDOV STORE</h1>
                <!--
                <li class="menu-item">
                    <a href="/CarsKatalog" id="list_title">Машины</a>
                    <ul сlass="sub-menu">
                        <li><a class="car-item">Porshe</a></li>
                        <li><a class="car-item">Bugatti</a></li>
                        <li><a class="car-item">Lamborgini</a></li>
                        <li><a class="car-item">Ferrari</a></li>
                    </ul>
                </li>-->
            </div>

            <button id="open-modal-btn">Каталог</button>

            <div class="search_box">
                <form class="search_box_class" action="" method="get">
                    <input name="search" placeholder="Искать здесь..." type="search">
                    <button type="submit">Поиск</button>
                </form>
            </div>
            <div class="Korzina">
                <div class="log_in">
                    <button id="Log_In_button"><a href="/LogIn">Log_In</a></button>
                </div>

                <div class="reg">
                    <button id="Reg_button"><a href="/Reg">Registration</a></button>
                </div>

                <div class="log_out">
                    <button id="log_out_button">Log Out</button>
                </div>

                <div class="for_sellers">
                    <button id="for_sellers_button"><a href="/SellerSwitch">For Sellers</a></button>
                </div>

                <button type="image" id="KorzinaForItems"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                        <path
                            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                    </svg>
                </button>
            </div>
        </div>

        <!-- Всплывающее окно слева -->
        <dialog id="catalog-dialog">
            <button id="close-modal-btn" onclick="closeModal()">Закрыть</button>
            <ul>
                <li class="menu-item">
                    <a href="/CarsKatalog" id="list_title">Машины</a>
                    <ul сlass="sub-menu">
                        <li><a class="car-item">Porshe</a></li>
                        <li><a class="car-item">Bugatti</a></li>
                        <li><a class="car-item">Lamborgini</a></li>
                        <li><a class="car-item">Ferrari</a></li>
                    </ul>
                </li>

            </ul>
        </dialog>

        <!--  -->
    </nav>



    <div class="main">
        <h1 class="main_title">МАЧО ДАЧО ХАТА ХАУС - МАРКЕТПЛЕЙС ДЛЯ НАСТОЯЩИХ МУЖЧИН</h1>
    </div>

    <div class="footer">
        <button id="orderHistoryButton">История заказов</button>

        <button id="favorites">Избранное</button>
    </div>

</body>

<script src="Home.js"></script>
<script src="Search.js"></script>
<script src="SendToken.js"></script>
<script src="ModalWindow.js"></script>

</html>

<!-- nav, span -->