<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In status</title>
</head>

<body>
    <h1>Успешный вход в систему</h1>

    <a href="/">Вернуться на главную</a>
</body>

</html>