<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>For Sellers</title>
    <link rel="stylesheet" href="SellerSwitch.css">
</head>

<body>
    <div class="container">
        <div class="description">
            <h1>Торгуйте на максимум</h1>
        </div>
        <div class="log_in_seller">
            <button id="reg_seller_button"><a href="/SellerReg">Зарегистрироваться</a></button>
            <button id="log_in_seller_button"><a href="/SellerLogIn">Войти</a></button>
        </div>

    </div>

    <div class="tools">
        <form id="addProductForm">
            <div class="add_type">
                <label for="typeOfProduct">Тип товара:</label>
                <select name="typeOfProduct">
                    <option value="Car">Car</option>
                    <option value="Alcohol">Alcohol</option>
                    <option value="Clothes">Clothes</option>
                </select>
            </div>
            <div class="add_title">
                <label for="productTitle">Название товара:</label>
                <input type="text" id="productTitle" name="productTitle">
            </div>
            <div class="add_description">
                <label for="productDescription">Описание товара:</label>
                <textarea id="productDescription" name="productDescription"></textarea>
            </div>
            <div class="add_photo">
                <label for="productPhoto">Фото товара:</label>
                <input type="file" id="productPhoto" name="productPhoto" accept="image/*">
            </div>
            <div class="add_price">
                <label for="productPrice">Цена товара:</label>
                <input type="number" id="productPrice" name="productPrice" min="0" value="0">
            </div>

            <!--<div class="buttons">
                <button type="submit">Добавить товар</button>
                <button id="editButton">Изменить товар</button>
                <button id="removeButton">Удалить товар</button>
            </div>-->

            <button type="submit">Добавить товар</button>

        </form>

    </div>

    <div id="message">
        <a href="/">На главную</a>
    </div>

    <script src="SellerTools.js"></script>

</html>