<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>For Sellers</title>
    <link rel="stylesheet" href="SellerSwitch.css">
</head>

<body>
    <div class="container">
        <div class="reg_seller">
            <button id="reg_seller_button"><a href="/SellerReg">Зарегистрироваться</a></button>
        </div>
        <div class="log_in_seller">
            <button id="log_in_seller_button"><a href="/SellerLogIn">Войти</a></button>
        </div>
    </div>

    <div class="tools">
        <div class="add_description">

        </div>

        <div class="add_photo">

        </div>

        <div class="add_price">

        </div>
    </div>
</body>

<script src="SellerTools.js"></script>

</html>