<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller Log In Status</title>
</head>

<body>
    <h1>Вы (продавец) успешно вошли в систему</h1>
    <a href="/">Вернуться на главную страницу</a>
</body>

</html>