<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="ShopingCart.css">
    <title>Shoping Cart</title>
</head>

<body>
    <h1 id="username"></h1>
    <h1 id="userLoyalityPoints"></h1>
    <p>Если больше 5 баллов, то скидка 5%</p>
    <div class="bodyOfCart">
        <% products.forEach(product=> { %>
            <div class="product-container">
                <div class="product-details">
                    <h2>
                        <%= product.productTitle %>
                    </h2>
                    <p>Цена: <%= product.productPrice %>
                    </p>
                    <p>Кол-во: товара: <%= product.productCount %>
                    </p>
                </div>
            </div>
            <% }); %>
    </div>
    <div class="Payment">
        <p>Итого: <%= price %> рублей
        </p>

        <label for="AddPhoneNumber">Введите номер телефона</label>
        <input type="text" id="AddPhoneNumber" name="AddPhoneNumber" required><br>

        <label for="AddDate">Выберите дату доставки</label>
        <input type="date" id="AddAddDate" name="AddAddDate" required><br>


        <button id="payButton"><a href="/Order">Оплатить</a></button>
    </div>

</body>

<script src="ShopingCart(client).js"></script>

</html>