body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#KorzinaForItems {
    position: fixed;
    right: 20px;
    top: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.product-container {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.product-image {
    flex: 1;
}

.product-image img {
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.product-details {
    flex: 2;
    padding: 10px;
}

.product-details h2 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
}

.product-details p {
    margin: 0;
    margin-bottom: 5px;
}

.buy_button {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-left: 1px solid #ccc;
}

.buy_button button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.buy_button button:hover {
    background-color: #0056b3;
}

.buy_button label {
    font-size: 14px;
}

.buy_button input[type="number"] {
    width: 100px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Добавляем стили для кнопки "Добавить в избранное" */
.add-to-favorites {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff0000; /* Красный цвет */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.add-to-favorites:hover {
    background-color: #cc0000; /* Темнокрасный цвет при наведении */
}

.rating {
    display: flex;
    align-items: flex-end;
    font-size: 40px;
    line-height: 0.75;
}

.rating_value {
    visibility: hidden;
}

.rating_value::after {
    content: "оцените товар";
}

/* .str {
    position: relative;
    font-family: Arial, sans-serif;
    right: 40%;
    bottom: 15%;
    font-size: 50%;
} */

.rating_body {
    position: relative;
}

.rating_body::before {
    content: "★★★★★";
    display: block;
}

.rating_items {
    display: flex;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.rating_item {
    flex: 0 0 15%;
    height: 100%;
    opacity: 0;
}

.rating_active {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.rating_active::before {
    content: "★★★★★";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #ffd300;
}

#sortByRating {
    background-color: #ff8c00; /* Оранжевый цвет */
    color: white; /* Белый цвет текста */
    border: none; /* Убираем границу */
    padding: 10px 20px; /* Поля вокруг текста */
    font-size: 16px; /* Размер шрифта */
    border-radius: 20px; /* Скругление углов */
    cursor: pointer; /* Изменяем курсор при наведении */
    outline: none; /* Убираем рамку фокуса */
    transition: background-color 0.3s; /* Плавное изменение цвета при наведении */
}

#sortByRating:hover {
    background-color: #ff6f00; /* Изменяем цвет при наведении */
}

#sortByRating:active {
    background-color: #ff4500; /* Изменяем цвет при нажатии */
}

span {
    opacity: 0;
}
